@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 255, 255, 255;
  --textcolor: 0, 0, 0;
}
.dark {
  --background: 0, 0, 0;
  --textcolor: 255, 255, 255;
}
.hovertext {
  @apply duration-200 hover:scale-125 ease-in-out;
}
@keyframes bounce-left {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.animate-bounce-left:hover {
  animation: bounce-left 1s infinite;
}
@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.animate-bounce-right:hover {
  animation: bounce-right 1s infinite;
}
