@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 255, 255, 255;
  --textcolor: 0, 0, 0;
}
.dark {
  --background: 0, 0, 0;
  --textcolor: 255, 255, 255;
}
.hovertext {
  @apply duration-200 hover:scale-125 ease-in-out;
}
@keyframes bounce-left {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.animate-bounce-left {
  animation: bounce-left 3s infinite;
}
@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.animate-bounce-right {
  animation: bounce-right 3s infinite;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  @apply absolute;
}
.card-4,
.card-3 {
  @apply scale-50 absolute z-10 opacity-30 brightness-50;
}
.card-4 {
  @apply -translate-x-1/2;
}
.card-3 {
  @apply translate-x-1/2;
}
.card-2,
.card-5 {
  @apply scale-75 absolute z-20  opacity-70 brightness-75;
}
.card-5 {
  @apply -translate-x-1/4;
}
.card-2 {
  @apply translate-x-1/4;
}
.card-1 {
  @apply z-30;
}

@keyframes left-to-right {
  0%,
  100% {
    transform: translate(-100px);
    background-image: linear-gradient(to left, #e5ab47, #fde10c, #4b5563);
  }
  50% {
    transform: translateX(500px);
  }
  99% {
    background-image: linear-gradient(
      to right,
      rgb(0, 255, 238),
      rgb(98, 174, 255),
      #4b5563
    );
  }
}
.animate-left-to-right {
  animation: left-to-right 4s linear infinite;
}
