@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --ownPrimary: #ffffff;
    --ownSecondary: #000000;
    --textColor: #000000;
    --ownAccent: #00edf6;
    --ownAccentLight: #e2e8f0;
    --ownAccentDark: ##64748b;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --ownPrimary: #0d0f1c;
    --ownSecondary: #ffffff;
    --textColor: #000000;
    --ownAccent: #00edf6;
    --ownAccentLight: #e2e8f0;
    --ownAccentDark: ##64748b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.theme-light {
}

.text-shadow {
  text-shadow: 6px 8px rgb(202, 199, 199);
}
.hovertext {
  @apply duration-200 hover:scale-125 ease-in-out;
}
@keyframes bounce-left {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.animate-bounce-left {
  animation: bounce-left 3s infinite;
}
@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.animate-bounce-right {
  animation: bounce-right 3s infinite;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  @apply absolute;
}
.card-4,
.card-3 {
  @apply scale-50 absolute z-10 opacity-30 brightness-50;
}
.card-4 {
  @apply -translate-x-1/2;
}
.card-3 {
  @apply translate-x-1/2;
}
.card-2,
.card-5 {
  @apply scale-75 absolute z-20  opacity-70 brightness-75;
}
.card-5 {
  @apply -translate-x-1/4;
}
.card-2 {
  @apply translate-x-1/4;
}
.card-1 {
  @apply z-30;
}

@keyframes left-to-right {
  0%,
  100% {
    transform: translate(-100px);
    background-image: linear-gradient(to left, #e5ab47, #fde10c, #4b5563);
  }
  50% {
    transform: translateX(500px);
  }
  99% {
    background-image: linear-gradient(
      to right,
      rgb(0, 255, 238),
      rgb(98, 174, 255),
      #4b5563
    );
  }
}
.animate-left-to-right {
  animation: left-to-right 4s linear infinite;
}
.card-border {
  background: conic-gradient(
    from 115deg,
    transparent 315deg,
    rgb(244, 244, 132),
    rgb(0, 247, 255),
    rgb(207, 95, 114),
    violet,
    transparent
  );
}
.fading-image {
  mask-image: linear-gradient(transparent 5px, black 20%);
}
.animate-example3d {
  animation: example3d 20s linear infinite;
}
@keyframes example3d {
  0%,
  100% {
    opacity: 0%;
  }
  10% {
    opacity: 100%;
  }
  30% {
    opacity: 100%;
  }
  35% {
    opacity: 0%;
  }
}
.example3d-item-1 {
}
.example3d-item-2 {
  animation-delay: 6s;
}
.example3d-item-3 {
  animation-delay: 10s;
}
.example3d-item-4 {
  animation-delay: 14s;
}
.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
